body {
    background-color: #d9d9d9;
}

#page {

    background-color: #ffffff;
    border: 1px solid #999999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    font-size: 80%;
    width:80%;
    color: #a1a1a1;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;

}

h1 {
    font-family: arial, sans-serif;
    color: #960c2a;
    font-size: 260%;
    padding-top: 0px;
    margin-top: 2px;
    text-align: center;
}

form {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

input {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 40px;
    font-size: 140%;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999999;

}