<div id="page">
    <h1>Twitter navigator</h1>

    <form accept-charset="UTF-8" id="lookup">
        <input type="text" id="username" onclick="jquery" size="50"/>
    </form>


</div>

<div id="footer">A Copyright 2010</div>
</div>
